<h2>Season 6</h2>
<ul>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Why-Do-People-Love-AppImages-So-Much-e1okmdp">30. Why Do People Love AppImages So Much?</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Is-The-Command-Line-Still-Relevant-e1o9k69">29. Is The Command Line Still Relevant?</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Has-The-Steam-Deck-Been-a-Success-e1nkg5p">28. Has the Steam Deck Been a Success?</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Interview-With-DarkXero-Founder-of-XeroLinux-e1nbs66">Bonus - Interview With DarkXero, Founder of XeroLinux</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Is-a-Mac-the-Perfect-Linux-Machine-e1mnqh2">27. Is a Mac the Perfect Linux Machine?</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Whats-a-Window-Manager--Bro-e1merd2">26. What's a Window Manager, Bro?</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Vanilla-Arch-vs-Arch-Based-Distros-e1m5oto">25. Vanilla Arch VS Arch-Based Distros</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Best-Desktop-Environment-for-Linux-e1lsaep">24. Best Desktop Environment for Linux</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Is-Linux-Too-Customizable-e1l9rue">23. Is Linux Too Customizable?</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Are-Containers-the-Future-of-Linux-e1kncmn">22. Are Containers the Future of Linux?</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Is-Canonical-Evil-e1kdn1s">21. Is Canonical Evil?</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Is-the-AUR-Overrated-e1jq35p">20. Is the AUR Overrated?</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Do-We-Even-Want-Linux-to-Win-e1jg2eg">19. Do We Even Want Linux to Win?</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Best-Window-Manager-for-Beginners-e1j4jui">18. Best Window Manager for Beginners</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Are-There-Too-Many-Distros-e1ifalj">17. Are There Too Many Distros?</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Is-Electron-Really-All-That-Bad-e1hr0nl">16. Is Electron Really All That Bad?</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Desktop-Environment-or-Window-Manager---Which-is-Better-e1hgfgh">15. Desktop Environment or Window Manager - Which is Better?</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/The-Right-to-Repair-e1h6tsv">14. The Right to Repair</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/FOSS-EVERYWHERE-e1gt6a4" title="FOSS EVERYWHERE">13. FOSS EVERYWHERE!</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Does-Linux-Need-App-Parity-e1gia0o">12. Does Linux Need App Parity?</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Linux-From-Scratch-e1g7bk8">11. Linux from Scratch?</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Linux-Sucks-And-So-Does-Everything-Else-e1fssro">10. Linux Sucks and So Does Everything Else</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Should-You-Use-a-Firewall-on-Linux-e1fi4lc">09. Should You Use a Firewall?</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Why-is-Rust-So-Popular-e1et03t">08. Why is Rust So Popular?</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Is-Gentoo-The-Future-of-Linux-e1ek0nt">07. Is Gentoo The Future of Linux?</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Is-Brave-a-Good-Browser---Or-Crypto-Nonsense-e1e83v8">06. Is Brave a Good Browser - Or Crypto Nonsense?</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Are-Linux-Users-Toxic-e1dv2gl">05. Are Linux Users Toxic?</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Why-is-NVIDIA-So-Anti-Linux-e1dicc2">04. Why is NVIDIA So Anti-Linux?</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Can-KDE-Beat-Gnome-e1d9nr7">03. Can KDE Beat Gnome?</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/How-to-Switch-To-Linux-Best-Practices-e1cu9p7">02. How to Switch To Linux (Best Practices)</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/6-Predictions-for-Linux-in-2022-e1cloph">01. 6 Predictions for Linux in 2022</a></li>
</ul>
<h2>Season 5</h2>
<ul>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Our-Last-Podcast---Of-the-Year-e1br3e6">37. Our Last Podcast...Of the Year</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Tickle-My-Nerd-Gland-e1bgmlt">36. Tickle My Nerd Gland</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Can-Linux-Be-Better-for-New-Users-e1b613h">35. Can Linux Be Better for New Users?</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Are-Snaps-the-Future-e1agph7">34. Are Snaps the Future?</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Do-You-Know-These-10-Rare-Linux-Apps-e1a5eba">33. Do You Know These 10 Rare Linux Apps?</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Whats-The-Most-Underrated-Linux-Distro-e19prqv">32. What's the Most Underrated Linux Distro?</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/GitLab-Challenge-e19flg0">31. GitLab Challenge</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Our-Favorite-Apps-and-Color-Schemes-e196dqf">30. Our Favorite Apps and Color Schemes</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Linux-Makes-Everything-Better-e18fv4a">29. Linux Makes Everything Better</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Too-Sexy-For-Your-Distro-e1856ov">28. Too Sexy For Your Distro</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Duplication-of-Effort-on-Linux---Good-or-Bad-e17qj07">27. Duplication of Effort on Linux - Good or Bad?</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Does-Linux-Have-a-Future-e17h7bl">26. Does Linux Have a Future?</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Is-Native-Linux-Gaming-Dead-e16rj2t">25. Is Native Linux Gaming Dead?</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/5-Things-We-Love-About-Linux--5-Things-We-Hate-e16h01d">24. 5 Things We Love About Linux, 5 Things We Hate</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Elementary-Woes-e16699m">23. Elementary Woes</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Bash-Challenge---Matt-VS-Tyler-e15h7ek">22. Bash Challenge - Matt vs Tyler</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Is-Federated-Social-Media-the-Future-e1577l4">21. Is Federated Social Media the Future?</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/The-Future-of-Gaming-on-Linux-e14sejg">20. The Future of Gaming on Linux</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Is-Telemetry-Okay-e14haol">19. Is Telemetry Okay?</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Would-You-Use-Windows-if-it-Was-Open-Source-e145h61">18. Would You Use Windows if it Was Open Source?</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Why-Isnt-Linux-Popular-in-the-USA---Or-Is-It-e13f6h8">17. Why Isn't Linux Popular in the USA - or Is It?</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Is-ARM-the-Future-of-Computing-e12vus4">16. Is ARM the Future of computing?</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Is-Pipewire-Ready-for-Prime-Time-e12ie56">15. Is Pipewire Ready for Prime Time?</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Does-Google-Care-About-Linux-Security-e11o50l">14. Does Google Care About Linux Security?</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Does-Linux-Need-Anti-Virus-Software-e10rfr3">13. Does Linux Need Anti-Virus Software?</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Linux-Mint-VS-Ubuntu---Which-is-Better-for-New-Users-e10dhno">12. Linux Mint vs Ubuntu - Which is Better for New Users?</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Are-Automatic-Updates-Good-for-Linux-evv0ku">11. Are Automatic Updates Good for Linux?</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Can-Firefox-Be-Relevant-Again-evfrkp">10. Can Firefox Be Relevant Again?</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Is-Proprietary-Software-Bad-for-Linux-ev0ejl">09. Is Proprietary Software Bad for Linux?</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Retro-Gaming-on-Linux-eurp3e">08. Retro Gaming on Linux</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Things-to-do-After-Distro-Hopping-eueeqj">07. Things to do After Distro Hopping</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Backing-Up-is-Important---What-are-Your-Options-erc7jr">06. Backing Up is Important - What Are Your Options?</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/The-Issues-With-Linux-Fragmentation-eqgtd1">05. The Issues With Linux Fragmentation</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Firewalls-and-Security-on-Linux-eprsjs">04. Firewalls and Security on Linux</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/GTK-vs-QT-With-a-Side-of-the-Browser-Wars-ep70a3">03. GTK vs QT With a Side of Browser Wars</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/A-Brief-Look-at-Linux-File-Systems-eosus2">02. A Brief Look at Linux File Systems</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Are-Themes-Bad-for-Linux-eoh2i1">01. Are Themes Bad for Linux</a></li>
</ul>
<h2>Season 4</h2>
<ul>
<li><a href="https://anchor.fm/thelinuxcast/episodes/End-of-Year-Recap---2020-eo2ahh">17. End of Year Recap 2020</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Is-System76-Worth-The-Price-enou6s">16. Is System76 Worth the Price?</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/The-Supposed-Superiority-of-Arch-Linux-enf4be">15. The Supposed Superiority of Arch Linux</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Should-You-Dual-Boot-emhaq3">14. Should You Dual Boot</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Linux-Permissions-are-Dumb-em76mi">13. Linux Permissions are Dumb!</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/The-Perils-of-Linux-Elitism-elinm9">12. The Perils of Linux Elitism</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/NVIDIA-and-ARM---Bad-for-Linux-ela3ae">11. Nvidia and ARM - Bad for Linux?</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Our-Favorite-Linux-Apps-ektos6">10. Our Favorite Apps</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Why-Linux-on-Mobile-Might-be-Doomed-ekg17s">09. Why Linux on Mobile Might be Doomed</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/WSL---Is-it-a-Threat-to-Linux-ek54n0">08. WSL- Is it a Threat to Linux?</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/AUR-for-the-Win-ejf1tk">07. AUR for the Win!</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Snaps---For-Good-or-Evil-ej401k">06. Snaps - Good or Evil?</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/What-Will-it-Take-for-Linux-to-go-Mainstream-eipaph">05. What Will it Take for Linux to go Mainstream?</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/The-Merits-of-Tiling-Window-Managers-eig9vf">04. The Merits of Tiling Window Managers</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Pros-and-Cons-of-Ubuntu-ehshtn">03. Pros and Cons of Ubuntu</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Is-Dual-Booting-Dead-eg7k03">02. Is Dual Booting Dead?</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/5-Reasons-to-Use-Arch-Linux-eevei8">01. 5 Reasons to Use Arch Linux</a></li>
</ul>
<h2>Season 3</h2>
<ul>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Elementary-OS-Review-e3m0mc">02. Elementary OS Review</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/ZSH-vs-Fish-for-Noobs-e3m0lv">01. ZSH vs Fish for Noobs</a></li>
</ul>
<h2>Season 2</h2>
<ul>
<li><a href="https://anchor.fm/thelinuxcast/episodes/The-Art-of-Theming-Podcast-e3m0k7">06. The Art of Theming</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/An-Overview-of-Ubuntu-18-04-Podcast-e3m0k9">05. An Overview of Ubuntu 18.04</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/The-Pros-and-Cons-of-GNOME-Podcast-e3m0k8">04. The Pros and Cons of Gnome</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/GTK-vs-QT-Podcast-e3m0ka">03. GTK vs QT</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Linux-vs-Windows-Podcast-e3m0kg">02. Linux vs Windows</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Flatpacks-vs-Snaps-Podcast-e3m0kb">01. Snaps VS Flatpaks</a></li>
</ul>
<h2>Season 1</h2>
<ul>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Fedora-26-Review-Podcast-e3m0kd">07. Fedora 26 Review</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Package-Managers-Podcast-e3m0kc">06. Package Managers</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Manjaro-Budgie-Review-Podcast-e3m0ke">05. Manjaro Budgie Review</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/The-Linux-Cast-4--Why-Hasnt-Linux-Gone-Mainstream-e3m0kf">04. Why Hasn't Linux Gone Mainstream?</a></li>
</ul>
