<h3>Season 7</h3>
<ul>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Fedora-38-Improves--Nvidia-Does-Its-Thing--and-Flatpak-is-WINNING-e1tqq9q">02. Fedora 38 Improves, Nvidia Does Its Thing, and Flatpak is #WINNING</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/2023-Linux-Prediction-Show-e1t64lo">01. 2023 Prediction Show</a></li>
</ul>
<h3>Season 6:</h3>
<ul>
<li><a href="https://anchor.fm/thelinuxcast/episodes/New-Steam-Controller--KDE-Tiling-Window-Manager--DEATH--To-Google-Maps-e1sch27">36. New Steam Controller? KDE Tiling Window Manager? DEATH! To Google Maps</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Eufy-Security-Problems-and-Mozilla-in-the-Metaverse-e1s1icf">35. Eufy Security Problems and Mozilla in the Metaverse</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Pop-OS-Cosmic-Desktop--Steam-Deck-is-Winning--and-Wins-for-the-Fediverse-e1rm0em">34. Pop!OS Cosmic Desktop, Steam Deck is Winning, and Wins for the Fediverse</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Fedora-37-Delayed--Zorin-OS-16-2--and-Steam-Deck-is-More-Awesome-e1ptsgt">33. Fedora 37 Delayed, Zorin OS 16.2, and Steam Deck is More Awesome</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Ubuntu-Pro--Firefox-View-Sucks--and-PaperDE-e1pkn6r">32. Ubuntu Pro, Firefox View Sucks, and PaperDE</a></li>
<li><a href="https://anchor.fm/thelinuxcast/episodes/Is-The-Linux-Community-Necessary-e1p9has">31. Is The Linux Community Necessary?</a></li>
</ul>
