:root {
	--default-font: monospace;
	--default-code-font: monofur;
	--default-font-size: 150%;
}

@font-face {
	font-family: 'monofur';
	src: url("monofur.ttf") format("truetype");
	font-style: normal;
}

html {
	width: auto;
}

body {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 900px;
	padding: 10px;
	font-family: var(--default-font);
	font-size: var(--default-font-size);
}

.header:before,
.subheader:before {
	content: "";
}

.header {
	text-align: center;
	font-size: 1.2em;
}

.subheader {
	text-align: center;
	font-size: 1em;
}

ul.menu {
	text-align: center;
	padding-top:1em;
	padding-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
}
ul.menu li {
	display:inline;
}

ul.menu img {
	width: 30px;
	height: 30px;
	margin: 0px;
	border: 0px;
	display: inline;
	vertical-align: middle;
	padding-right: 0.3em;
}

.menu img, .menu a {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.menu img:hover, .menu a:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	background-color: transparent;
	text-decoration: none;
}

.date {
	text-align: right;
}

.back:before {
	content: "<< ";
}

h1:before {
	content: "# ";
}

h2:before {
	content: "## ";
}

h3:before {
	content: "### ";
}

h4:before {
	content: "#### ";
}

h1 {
	font-size: 1.4em;
}

h2 {
	margin-bottom: -0.6em;
	font-size: 1.3em;
}

h3 {
	margin-bottom: -0.6em;
	font-size: 1.2em;
}

h4 {
	margin-bottom: -0.6em;
	font-size: 1.1em;
}

p {
	font-size: 1em;
	text-align: justify;
	text-justify: inter-word;
}

a {
	text-decoration: none;
}

img {
	margin: 15px;
	border: 1px;
	border-style: solid;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: auto;
}

.i {
	font-family: var(--italic-font);
}

code {
	display: block;
	margin: 0em;
	padding: 10px;
	font-family: var(--default-code-font), Consolas, "courier new";
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: scroll;
	text-align: left;
}

.postlist,
.contact {
	list-style: none;
	padding: 0;
	padding-left: 2em;
}

.postlist li, .contact li {
	text-indent: -0.8em;
}

.postlist-item:before,
.contact-item:before,
.item:before {
	font-size: 1em;
	content: "🐧  ";
}

.center {
	text-align: center;
	padding:0;
}

.footer {
	font-size: 0.8em;
}
