<h4>Ultimate Supporter</h4>
<p>Brian Bommarito</p>
<p>Burrito</p>
<h4>Tier 7 - Tux Level - Patrons</h4>
<p>Robert M.</p>
<h4>Master Level Patrons</h4>
<p>Syd A.</p>
<h4>VIP Patrons</h4>
<p>G3NGAR</p>
<p>Tyler Funk</p>
<p>Kramer Kare</p>
<p>Fred Lo Cascio</p>
<p>Devon Caballero-Zarate</p>
<p>Tin</p>
<p>HipDad</p>
<h4>Director</h4>
<p>Henry C.</p>
<h4>Executive Producer</h4>
<p>Amonte Allen</p>
<p>I use Fedora, BTW</p>
<p>Jeff Smith</p>
<p>Peppe</p>
<p>Mike DePolis</p>
<p>mrneilypops</p>
<p>Antoine Wilk</p>
<p>Keith McGavin</p>
<p>TGB</p>
<p>Garrick</p>
<p>Jackson Knife and Tool</p>
<p>Maeglin</p>
<p>Neil Neilypops</p>
<p>CyberGuyLinux</p>
<p>smrw</p>
<p>Gerry Hernandez</p>
<p>Astafar</p>
<p>Alex Ts</p>
<p>Billy B.</p>
<p>LqLarry</p>
<p>Dennis Östergren</p>
<h4>Co-Producer</h4>
<p>Yrjö Hatakka</p>
<p>Devan A Angelo</p>
<p>Pjol</p>
<p>Richard Meyer</p>
<p>eikefo</p>
<p>Eduardo Sanchez</p>
<p>Shaun</p>
<p>Joris</p>
<p>Yukon Miner</p>
<p>Martin E</p>
<p>Carbondated</p>
<p>Pawel</p>
<p>mightyspirit</p>
<p>Ralph B.</p>
<p>Eddie V</p>
<p>Khudzul</p>
<p>Rick V.</p>
<p>j1d7s</p>
<p>Niklas M.</p>
<p>HabitualLearner</p>
<p>mopeybopey</p>
<h4>Producer</h4>
<p>lucas wheeler</p>
<p>Alexandros</p>
<p>melonslapper35</p>
<p>Lanius Pallidus</p>
<p>Mohammed Ali</p>
<p>Ehecatl Joel Chavez Martinez</p>
<p>Bruce Lipe</p>
<p>Bjarke B.</p>
<p>Phillip</p>
<p>Darkbandits6</p>
<p>Crucible</p>
<p>Joshua Lee</p>
<p>Camp514</p>
<p>Marek Maksimczyk</p>
<p>Ness</p>
<p>Mitchel Valentino</p>
<p>Matthias J.</p>
<p>Tobias W.</p>
<p>Gabriel C.</p>
<p>kg4qpb</p>
<p>Carl A.</p>
<p>Michael H.</p>
<p>Manuel M</p>
<hr>
<p>NB: These are no longer in any particular order.</p>
<hr>
<p>Want to see your name here? Help out the channel by supporting me on <a href="https://patreon.com/thelinuxcast">Patreon</a>!</p>
